@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

* {
  box-sizing: border-box;
}

.app_outside{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.app_btn{
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms ;
}

.app_btn:hover{
  background-color: rgb(88, 88, 88);
  color: white;
}