
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

.app_outside{
  font-family: "Moderustic", sans-serif;
  background-color:#F5F7F8 ;
  min-height: 100vh;
}